@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    max-width:100%;
    width: 20%;
    height: auto;
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#search-bar {
  margin-top: 3%;
  width: 40%;
}

#search-bar input[type=submit] {
  margin-top: 1%;
  background-color: #ff5877;
  width: 40%;
}

#results {
   width: 80%;
}

#results-table {
  margin-top: 5%;
  color: white;
}

#results-table tr {
  font-size: 0.6em;
}